{% extends 'base.html.twig' %}

{% block title %}Crear Sorteo{% endblock %}

{% block body %}
    <h1>Crear Sorteo</h1>

    {{ include('sorteo/_form.html.twig') }}

   <h2><a href="{{ path('app_main') }}">Volver</a></h2>
{% endblock %}
